<div class="container-fluid mb-4 nav-bg">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{{ url_for('MainRoute.home') }}">
                مدونة حسوب
            </a>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <div>
                    <ul class="navbar-nav mr-auto d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                المقالات
                            </a>
                        </li>
                        {% if current_user.username == "amir_admin" %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  id="navbarDropdown"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                لوحة التحكم 
                            </a>
                            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item"
                                        href="#">
                                        الاشتراكات
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="#">
                                        المستخدمين
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" 
                                        href="{{ url_for('ArticleRoute.article_add') }}">        
                                        إضافة مقالة
                                    </a>
                                </li>
                                
                                <li>
                                    <a class="dropdown-item"
                                        href="{{ url_for('ArticleRoute.articles_list') }}">
                                        لائحة المقالات
                                    </a>
                                </li>

                                {% elif current_user.is_admin 
                                    and current_user.username != "amir_admin" %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="{{ url_for('ArticleRoute.article_add') }}">
                                        اضافة المقالات جديدة
                                     </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="{{ url_for('ArticleRoute.articles_list') }}">
                                        لائحة المقالات
                                    </a>
                                </li>
                                {% elif current_user.stripe_costomer
                                    and current_user.sripe_customer[0].status == "active" %}
                                {% else %}
                                <li>
                                    <a href="{{ url_for('SubscriptionRoute.subscription') }}"
                                        class="btn btn-sm mainButton" role="button">
                                        اشترك الآن
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
                {% if current_user.is_authenticated %}
                <ul class="navbar-nav mr-auto d-flex align-items-center">
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="{{ url_for('AuthRoute.user_account') }}">
                            {{ current_user.username }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('AuthRoute.user_logout') }}">
                            Log out
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav mr-auto d-flex align-items-center">
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="{{ url_for('AuthRoute.user_login') }}">
                            تسجيل الدخول
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('AuthRoute.user_register') }}">
                            حساب جديد
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>
</div>