{% extends 'main/base.html' %}
{% block content %}
<!-- main container -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-10 mx-auto">
                <h2 class="blog-post-title display-4 fst-italic m-4 text-center">
                    {{ article.title }}
                </h2>
                <div class="media d-flex justify-content-center mb-2">
                    <img src="{{ url_for('static', filename='media/images/'+ article.image) }}"
                        class="img-fluid w-75 h-auto" alt="img" />
                </div>
                <article class="blog-post">
                    <p class="blog-post-meta col-sm-8 col-md-8 col-lg-8">
                        {{ article.user.username }}
                        <br>
                        {{ article.created_at.strftime("%Y-%m-%d") }}
                    </p>
                    <div class="blog-post-content">
                        {% if (customer and customer.status == "active") or current_user.is_admin %}
                        
                        {{ article.content|safe }}

                        {% else %}

                        {{ article.content[:1000]|safe  }}
                        <div class="extra"> {{ article.content[1000:1500]|safe  }} </div>

                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 mx-auto">
                <div class="d-grid gap-2">


                {% if (customer and customer.status == "active") or current_user.is_admin %}
                
                {% elif customer and not customer.status == "active" %}

                <a href="#" class="btn mainButtonWhite" role="button">
                    اشترك معنا لتكمل قراءة المقالة
                </a>

                {% else %}

                <a href="#" class="btn mainButtonWhite" role="button">
                    اشترك معنا لتكمل قراءة المقالة
                </a>
                
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('AuthRoute.user_login') }}"
                        class="btn btn-outline-success" role="button">
                        لديك حساب؟ سجل الدخول الآن.
                    </a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <a href="{{ url_for('MainRoute.home') }}"
                    class="btn btn-sm btn-outline-secondary mb-4" 
                    role="button">
                    → المقالات
                </a>
            </div>
            <div class="d-flex justify-content-end">
                <small class="text-muted">
                <br />
                <div class="text-center">

                    {% if (current_user.id and current_user.is_admin) 
                        or (customer and customer.status=="active") %}

                    <i class="{{ 'fas fa-thumbs-up fa-2x' 
                        if current_user.id 
                        in article.likes|map(attribute='liked_user')

                        else 'far fa-thumbs-up fa-2x' }}" 

                        id="like-button-{{ article.id }}"
                        onclick="articleLike({{ article.id }})">
                    </i>

                    {% elif (customer and not customer.status=="active") or not customer %}
                       <a href="#">
                            <i class="far fa-thumbs-up fa-2x"></i>
                        </a>
                    {% else %}
                        <a href="{{ url_for('AuthRoute.user_login') }}"
                            class="btn btn-outline-success" role="button">
                        </a>
                    {% endif %}
                </div>
                Likes
                <span id="likes-count-{{ article.id }}">
                    {{ article.likes|length }}
                </span>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}