{% extends 'main/base.html' %}
{% from 'partials/_macros.jinja' import form_macro %}
{% block content %}
<!-- main container -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col shadow-lg p-3 mb-5 bg-body rounded">
                <div class="content-section">
                    <form method="post" enctype="multipart/form-data" novalidate>
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">
                                {{ legend }}
                            </legend>
                            <div class="row">
                                <div class="col">
                                    <!-- title     -->
                                    {{ form_macro(form.title) }}
                                    <!-- Image    -->
                                    <div class="form-group mt-4">
                                        {{ form.image.label(class='') }}
                                        {{ form.image
                                            (class="form-control form-control-lg",
                                            onchange="imagePreview(event)") }}
                                        {% if form.image.errors %}
                                        <ul class="error">
                                            {% for error in form.image.errors %}
                                            <li class="text-danger">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col">
                                    <img    class="ImgPreviewClass"
                                    {% if form.image.data %}
                                    src="{{ url_for('static', filename='media/images/' + form.image.data) }}"
                                    
                                    
                                    
                                    {% else %}
                                    src="{{ url_for('static', filename='media/images/default.png') }}"
                                    {% endif %}    
                                    alt="Article image">
                                </div>

                            </div>
                        </fieldset>
                        <!-- Content    -->
                        {{ form_macro(form.content) }}
                        <!-- Button    -->
                        <div class="form-group">
                            {{ form.submit(class="btn mainButton") }}
                        </div>
                    </form>
                    {{ ckeditor.load() }}
                    {{ ckeditor.config(name="content",
                            height='300',
                            contentsLangDerection='lrt',
                            contentsLanguage='ar',
                            language='ar',
                            defaultLanguage='ar'
                        )
                    }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}