{% extends 'main/base.html' %}
{% block content %}
<!-- main container -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col shadow-lg p-3 mb-5 bg-body rounded">
                <h3 class="textColor">جميع المقالات</h3>
                <hr />
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">الإجراء</th>
                                <th scope="col">المقالات</th>
                                <th scope="col">تاريخ النشر</th>
                                <th scope="col">الكاتب</th>
                                <th scope="col">عدد التفاعل</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <td></td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <div class="btn-group">
                                            <div>
                                                <a href="#" class="btn btn-sm mainButtonWhite" role="button">تعديل</a>
                                            </div>
                                            <div>
                                                <a href="#"
                                                        class="btn btn-sm btn-danger"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#articleModal"
                                                        role="button">حذف</a>
                                            </div>
                                            <!-- Modal -->
                                            <div class="modal fade"
                                                        id="articleModal"
                                                        tabindex="-1"
                                                        aria-labelledby="articleModalLabel"
                                                        aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content ss">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="articleModalLabel">حذف المقالة</h5>
                                                            <button type="button"
                                                                            class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body overflow-auto"></div>
                                                        <div class="modal-footer">
                                                            <button type="button"
                                                                            class="btn btn-sm btn-secondary"
                                                                            data-bs-dismiss="modal">اغلاق</button>
                                                            <a href="#" class="btn btn-sm btn-danger" id="delBtn" role="button">حذف</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="#"
                                            class="text-decoration-none link-secondary fs-6 text-start text-break">عنوان المقالة</a>
                                </td>
                                <td>
                                    ###
                                </td>
                                <td>
                                    كاتب حسوب
                                </td>
                                <td>
                                    99
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}