{% extends 'main/base.html' %}
{% block content %}
<!-- main container -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-10 mx-auto">
                <h2 class="blog-post-title display-4 fst-italic m-4 text-center">عنوان المقالة الأولى</h2>
                <div class="media d-flex justify-content-center mb-2">
                    <img src="../../static/images/default.png" class="img-fluid w-75 h-auto" alt="img" />
                </div>
                <article class="blog-post">
                    <p class="blog-post-meta col-sm-8 col-md-8 col-lg-8">### بواسطة كاتب في مدونة حسوب</p>
                    <div class="blog-post-content">
                        لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما
                        قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي
                        في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر
                        الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                        لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما
                        قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي
                        في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر
                        الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                        لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما
                        قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي
                        في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر
                        الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 mx-auto">
                <div class="d-grid gap-2">
                    <a href="#" class="btn mainButtonWhite" role="button">اشترك معنا لتكمل قراءة المقالة</a>
                    <a href="#" class="btn btn-outline-success" role="button">لديك حساب؟ سجل الدخول الآن.</a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div>
                <a href="#" class="btn btn-sm btn-outline-secondary mb-4" role="button">→ المقالات</a>
            </div>
            <div class="d-flex justify-content-end">
                <small class="text-muted">
                    <br />
                    <div class="text-center">
                        <i class="fas fa-thumbs-up fa-2x"></i>
                    </div>
                    الإعجابات <span>99</span></small
                >
            </div>
        </div>
    </div>
</div>
{% endblock %}