{% extends 'main/base.html' %}
{% block content %}
<!-- main container -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <!-- Box 1 -->
                    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0">أرباح الشهر</p>
                                            <h6 class="text-sm mb-0">مقارنة مع الشهر السابق</h6>
                                            <h5 class="font-weight-bolder mb-0">10 $ | <span class="text-sm font-weight-bolder text-success">99%</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <i class="fas fa-coins fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Box 2 -->
                    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0">مشتركين الشهر</p>
                                            <h6 class="text-sm mb-0">مقارنة مع مجمل الاشتراكات</h6>
                                            <h5 class="font-weight-bolder mb-0">10 $ | <span class="text-sm font-weight-bolder text-danger">99%</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <i class="fas fa-user-plus fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Box 3 -->
                    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0">مشتركين الشهر</p>
                                            <h6 class="text-sm mb-0">مقارنة مع مجمل الأرباح</h6>
                                            <h5 class="font-weight-bolder mb-0">10 $ | <span class="text-sm font-weight-bolder text-success">99%</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <i class="fas fa-users fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Box 4 -->
                    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0">أرباح الشهر</p>
                                            <h6 class="text-sm mb-0">مقارنة مع مجمل الأرباح</h6>
                                            <h5 class="font-weight-bolder mb-0">10 $ | <span class="text-sm font-weight-bolder text-danger">99%</span></h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <i class="fas fa-money-bill-trend-up fa-2x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="card">
                        <div class="card-header pb-0">
                            <h6>نظرة عامة على الاشتراكات</h6>
                            <p class="text-sm">
                                <i class="fa fa-arrow-up text-success"></i>
                                <span class="font-weight-bold">99% تغيير</span>
                                عن الشهر السابق
                            </p>
                        </div>
                        <div class="card-body p-3">
                            <!-- plot -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}